@model WebApp.Models.WebAppContatto

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContattoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContattoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContattoCognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContattoCognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContattoCitta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContattoCitta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContattoTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContattoTelefono)
        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Modifica" asp-route-id="@Model?.ContattoID" class="btn btn-warning">
        <i class="fa-solid fa-user-pen me-1"></i>Modifica
    </a>
    <a asp-action="Index" class="btn btn-info">
        <i class="fa-regular fa-address-book me-1"></i>Torna alla rubrica
    </a>
</div>
